/* 検索エリア */
.sort-area {
  margin-bottom: 20px;
}

.sort-area input[type="text"],
.sort-area select {
  margin-right: 10px;
  padding: 8px; /* パディングを増やして大きくする */
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 40%; /* 幅を長めに設定 */
}

.sort-area button {
  padding: 8px 15px; /* パディングを増やして大きくする */
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

.sort-area button:hover {
  background-color: #0056b3;
}

/* 商品一覧テーブル */
.container {
  margin-top: 20px;
}

.container table {
  width: 100%;
  border-collapse: collapse;
}

.container th,
.container td {
  padding: 20px;
  text-align: center;
}

.container th {
  background-color: #007bff;
  color: #fff;
}

.container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container tr:hover {
  background-color: #ddd;
}

.container td img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.alert {
  background-color: #ff0000;
  color: #fff;
}

.item {
  margin-right: 20px; /* 要素間の余白を設定 */
  min-width: 200px; /* 要素の最小幅を設定 */
  text-align: right; /* テキストを右寄せにする */
}

.input-field {
  width: 300px; 
}