/* 検索エリア */
.sort-area {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
}

.sort-area .form-input,
.sort-area .form-select {
  flex: 1 1 100%; /* 幅を100%に設定 */
  margin-bottom: 10px;
  padding: 15px; /* パディングを増やして大きくする */
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 800px; /* 最大幅を設定 */
}

.sort-area .form-button {
  padding: 15px 30px; /* パディングを増やして大きくする */
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  width: 100%; /* 幅を100%に設定 */
  max-width: 200px; /* 最大幅を設定 */
  text-align: center; /* 中央揃えにする */
  display: inline-block; /* インラインブロックに設定 */
}

.sort-area .form-button:hover {
  background-color: #0056b3;
}

.sort-area .filter-group {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  margin-top: 10px;
}

.sort-area .filter-item {
  flex: 1 1 100%; /* 幅を100%に設定 */
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  max-width: 800px; /* 最大幅を設定 */
}

/* 商品一覧テーブル */
.container {
  margin-top: 20px;
}

.container table {
  width: 100%;
  border-collapse: collapse;
}

.container th,
.container td {
  padding: 20px;
  text-align: center;
}

.container th {
  background-color: #007bff;
  color: #fff;
}

.container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container tr:hover {
  background-color: #ddd;
}

.container td img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.alert {
  background-color: #ff0000;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.item {
  margin-right: 20px; /* 要素間の余白を設定 */
  min-width: 200px; /* 要素の最小幅を設定 */
  text-align: right; /* テキストを右寄せにする */
}

.input-field {
  width: 100%;
  padding: 15px; /* パディングを増やして大きくする */
  border-radius: 5px;
  border: 1px solid #ccc;
  max-width: 800px; /* 最大幅を設定 */
}

/* レスポンシブデザイン */
@media (max-width: 768px) {
  .sort-area {
    flex-direction: column;
    align-items: stretch;
  }

  .sort-area .form-input,
  .sort-area .form-select,
  .sort-area .form-button {
    width: 100%;
    margin-bottom: 10px;
  }

  .sort-area .filter-item {
    width: 100%;
  }

  .container th,
  .container td {
    padding: 10px;
  }

  .container td img {
    width: 75px;
    height: 75px;
  }
}