/* 検索エリア */
.sort-area {
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}

.sort-area .form-input,
.sort-area .form-select {
  flex: 1;
  margin-right: 10px;
  padding: 10px; /* パディングを増やして大きくする */
  border-radius: 5px;
  border: 1px solid #ccc;
  min-width: 150px; /* 最小幅を設定 */
}

.sort-area .form-button {
  padding: 8px 15px; /* パディングを増やして大きくする */
  border-radius: 5px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
  margin-left: auto; /* 右に寄せる */
}

.sort-area .form-button:hover {
  background-color: #0056b3;
}

.sort-area .filter-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 10px;
}

.sort-area .filter-item {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-right: 10px;
}

/* 商品一覧テーブル */
.container {
  margin-top: 20px;
}

.container table {
  width: 100%;
  border-collapse: collapse;
}

.container th,
.container td {
  padding: 20px;
  text-align: center;
}

.container th {
  background-color: #007bff;
  color: #fff;
}

.container tr:nth-child(even) {
  background-color: #f2f2f2;
}

.container tr:hover {
  background-color: #ddd;
}

.container td img {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

.alert {
  background-color: #ff0000;
  color: #fff;
}

.item {
  margin-right: 20px; /* 要素間の余白を設定 */
  min-width: 200px; /* 要素の最小幅を設定 */
  text-align: right; /* テキストを右寄せにする */
}

.input-field {
  width: 300px;
}


